<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>svn 用户列表</title>
    <meta name="description" content="users">
    <meta name="keywords" content="users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body data-type="generalComponents">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="/" class="tpl-logo">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick" th:text="${session.user.name}">管理员</span><span class="tpl-header-list-user-ico"> <img src="/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li onclick="log_out()"><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li onclick="log_out()"><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                用户列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/" class="nav-link">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                        <a href="/user/list" class="nav-link active">
                            <i class="am-icon-key"></i>
                            <span>用户管理</span>
                        </a>
                        <a href="/user/myInfo" class="nav-link">
                            <i class="am-icon-wpforms"></i>
                            <span>修改资料</span>
                        </a>
                    </li>
                    </ul>
            </div>
        </div>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                用户列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">用户列表</a></li>
                <li class="am-active">用户列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button onclick="toAdd()" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                                <select data-am-selected="{btnSize: 'sm'}">
              <option value="option1">用户名</option>
            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" id="sss" th:value="${name}" class="am-form-field">
                                <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button" onclick="ssss()"></button>
          </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-check"><input th:disabled="true" type="checkbox" class="tpl-table-fz-check"></th>
                                            <th class="table-title">用户名</th>
                                            <th class="table-title">svn名</th>
                                            <th class="table-type">身份</th>
                                            <th class="table-author am-hide-sm-only">部门</th>
                                            <th class="table-author am-hide-sm-only">状态</th>
                                            <th class="table-author am-hide-sm-only">备注</th>
                                            <th class="table-author am-hide-sm-only">添加时间</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr th:unless="${#lists.size(users)}" align="center">
                                            <td colspan="15">暂无数据</td>
                                       </tr>
                                       <tr th:each="user : ${users}">
                                            <td><input type="checkbox"></td>
                                            <td th:title="${user.real_name}"><a th:href="'/user/edit?userId='+${user.id}" th:text="${#strings.abbreviate(user.real_name,6)}">shenlan</a></td>
                                            <td th:title="${user.name}"><a th:href="'/user/edit?userId='+${user.id}" th:text="${#strings.abbreviate(user.name,15)}">shenlan</a></td>
                                            <!--身份开始-->
                                            <td th:if="${user.role==1}" class="am-hide-sm-only">管理员</td>
                                            <td th:if="${user.role==2}" class="am-hide-sm-only">普通用户</td>
                                            <!--身份结束-->
                                            <td class="am-hide-sm-only" th:text="${user.department}">java部门</td>
                                            <!--用户状态-->
                                            <td class="am-hide-sm-only" th:if="${user.status==1}">有效</td>
                                            <td class="am-hide-sm-only" th:if="${user.status==2}">无效</td>
                                            <!--用户状态-->
                                            <td th:title="${user.remark}" class="am-hide-sm-only" th:text="${#strings.abbreviate(user.remark,10)}"></td>
                                            <td class="am-hide-sm-only" th:text="${user.ctime}"></td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" th:onclick="'editUser('+${user.id}+')'"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" th:onclick="'delUser('+${user.id}+')'"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="am-cf" th:if="${#lists.size(users)}">
                                   <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li th:each="pageNumShow:${page.navigatepageNums}" th:class="${pageNumShow} eq ${page.pageNum}?'am-active'"><a th:href="@{'/user/list?pageNum='+${pageNumShow}+'&'+${condition}}" th:text="${pageNumShow}" >1</a></li>
                                            <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/myFun.js"></script>
	<script>
        function toAdd(){
            url = "/user/add";
            location.href = url
        }
        function toDel(id){
           if(id==""){
              var checkboxDom = $('input:checkbox');
              checkboxDom.each(function() { 
              if ($(this).prop('checked') ==true) { 
                var uuid = $(this).attr("data_id_deal"); 
                layer.prompt({title: '输入删除密码，点击确认后会删除项目<span style="color:red">'+uuid+"</span>,请谨慎操作", formType: 1}, function(pass, index){
                    if(pass==""||pass==null){
                        layer.close(index);
                        layer.msg("必须输入删除密码");
                        layer.close(index);
                        return false;
                    }
                    $.post(ApiHost+"/del",{id:uuid,pass:pass,userToken:userToken},function(data){
                        layer.msg(data.msg);
                        if(data.code==200){
                            setTimeout(function(){
                                location.reload();
                            },1200)
                        }
                    });
                });
                return false;
              } 
            });
          }else{
            var uuid = id; 
            layer.prompt({title: '输入删除密码，点击确认后会删除项目<span style="color:red">'+uuid+"</span>,请谨慎操作", formType: 1}, function(pass, index){
                if(pass==""||pass==null){
                    layer.close(index);
                    layer.msg("必须输入删除密码");
                    layer.close(index);
                    return false;
                }
                $.post(ApiHost+"/del",{id:uuid,pass:pass,userToken:userToken},function(data){
                    layer.msg(data.msg);
                    if(data.code==200){
                        setTimeout(function(){
                            location.reload();
                        },1200)
                    }
                });
            });
          }
        }
        function editUser(userId){
        	if(userId==""||userId<=0){
        		layer.msg("参数错误");
        		return false;
        	}
        	window.location.href="/user/edit?userId="+userId;
        }
        function ssss(){
        	var name = $("#sss").val();
        	window.location.href="/user/list?real_name="+name;
        }
        function delUser(userId){
        	if(userId==""||userId<=0){
        		layer.msg("参数错误");
        		return false;
        	}
        	$.ajax({    
        		type:'post',        
        		url:'/user/delUser',    
        		data:{id:userId},    
        		cache:false,       
        		success:function(data){
        			layer.msg(data.msg);
        			if(data.code==200){
        				setTimeout(function(){
        					location.reload();
        				},1200);
        			} 
        		},
        		error:function(){
        		   layer.msg("系统异常，请重试");
           		   return false;
        		} 
        	 }); 
        }
	</script>
</body>

</html>